body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 20px;
}

.card {
    border: 1px solid rgb(230, 230, 230);
    height: 100px;
    background-color: bisque;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;

    padding: 10px;
}

.avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}